
/* ---- Theme ---------------- */

/* General theme */

body {
    background-color: #282828;
    color: #fbf1c7;
    font-family: sans-serif;
}


/* Layout Theme */

/* Header */

nav {
    background-color: #fe8019;
    color: #1d2021;
    font-size: 1.3em;
    text-align: center;
}

nav li {
    border-right: 2px solid #1d2021;
}

nav a:last-child > li {
    border-right: 0;
}

nav ul.columnNavList > a > li {
    border: 0;
}

nav ul.columnNavList > li {
    border: 0;
    border-top: 2px solid #1d2021;
}



/* ---- Layout ---------------- */

/* General layout */

body {
    width: 84%;
    margin: auto;
}


/* Header */

header {
    display: flex;
    flex-direction: column;
}

div#headTitle {

}

nav {
    display: flex;
    flex-direction: row;
    padding: 5px 10%;
    margin-top: 30px;
}


nav a {
    width: auto;
    height: 100%;
    align-items: center;
    display: flex;
    margin: 4px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    align-items: center;
}

nav ul.columnNavList {
    flex-direction: column;
}

nav li {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    justify-content: center;
    padding: 0 20px ;
    margin: 2px 0;
}

