{% extends 'base.html.twig' %}

{% block main %}
<ul id='blogList'>

    {% for article in articleList %}
    
    <li>
        <img>

        <div>

            <a href="{{ path('blog_article', {articlePath: article} ) }}">
                <h1> {{ article }} </h1>
            </a>
              
            <p>{{ article }} </p>
        </div>
    </li>

    {% endfor %}

</ul>
{% endblock %}
