<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href=" {{ asset('style/style.css') }}">
    </head>

    <body>
        <head>
            {% include('header.html.twig') %}
        </head>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            {% include('footer.html.twig') %}
        </footer>

        {% block javascripts %}{% endblock %}

    </body>
</html>
