<div id="headTitle">
    <h1> MON BLOG </h1>
    <h1> {{ asset('article') }} </h1>
</div>
<nav>
    <ul>
        
        <a> <li> Accueil </li> </a>

        <li>
            <ul class="columnNavList">
                <a><li> Blog </li></a> 

                <li>
                    <ul>
                        {% for serie in series %}
                        <a><li> {{ serie }} </li></a>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>

        <a> <li> Utils </li> </a>

        <a> <li> Mes marques pages </li> </a>

        <a> <li> Contacts </li> </a>
    </ul>
</nav>
